@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="loader"></div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000); // TODO actual initialization job
        isLoaded = true;
    }
}
