<<<<<<< HEAD
<<<<<<< HEAD
@inherits LayoutComponentBase

<<<<<<< HEAD
=======
﻿@inherits LayoutComponentBase

>>>>>>> parent of bc9e297... Merge branch 'test'
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
<<<<<<< HEAD
=======
=======
﻿@inherits LayoutComponentBase
     
>>>>>>> parent of e20b4c1... Merge branch 'master' into test
    <div class="main">
        <div class="d-flex align-items-center justify-content-center text-center">
            @Body
        </div>
<<<<<<< HEAD
        
>>>>>>> parent of e94528a... Background and ui set up. Blog-post display needs fixing.
=======
>>>>>>> parent of bc9e297... Merge branch 'test'
=======
>>>>>>> parent of e20b4c1... Merge branch 'master' into test
    </div>
    <SiteFooter />