@inherits LayoutComponentBase
     
    <div class="main">
        <div class="d-flex align-items-center justify-content-center text-center">
            @Body
        </div>
    </div>
    <SiteFooter />