@inherits LayoutComponentBase

    <div class="main">
        <div class="d-flex align-items-center justify-content-center text-center">
            @Body
            <footer class="bottom-0 position-absolute">
                <p class="p-2 text-white text-center">
                    2021 Mihail Kanchev - Powered by <b>Blazor</b>, <b>Cosmic</b>, <b>Nginx</b> and <b>Raspberry Pi</b>
                </p>
            </footer>
        </div>
    </div>