<<<<<<< HEAD
@inherits LayoutComponentBase

<<<<<<< HEAD
=======
﻿@inherits LayoutComponentBase

>>>>>>> parent of bc9e297... Merge branch 'test'
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
<<<<<<< HEAD
=======
    <div class="main">
        <div class="content justify-content-center">
            @Body
        </div>
        
>>>>>>> parent of e94528a... Background and ui set up. Blog-post display needs fixing.
=======
>>>>>>> parent of bc9e297... Merge branch 'test'
    </div>
    <SiteFooter></SiteFooter>
</div>

