@inherits LayoutComponentBase

<<<<<<< HEAD
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
=======
    <div class="main">
        <div class="content justify-content-center">
            @Body
        </div>
        
>>>>>>> parent of e94528a... Background and ui set up. Blog-post display needs fixing.
    </div>
    <SiteFooter></SiteFooter>
</div>

